body{
  margin:0;
  padding:0;
   background:-webkit-linear-gradient(top,red, yellow);
}
*{
  margin:0;
  padding:0;
}

.Topic{
  font-size:25px;
  background-color:green;
  text-align:center;
}
.TopicPic{
  float:right;
  width:50%;
}
.log{
  float:right;
  width:150px;
  height:130px;
  border-radius:30px;
  padding-right:20px;
}
.WendyPage{
  float:left;
  padding:30px;
  text-align:center;
  font-size:40px;
  color:white;
  font-family:fantasy;
}
.navigate{
  width:100%;
  height:60px;
  background-color:white;
}
.navigate a{
  text-decoration:none;
  display:block;
  float:left;
  margin:10px;
   font-size:30px;
  font-family:fantasy;

}
a:hover{
  background-color:gray;
}
.bodyImage{
    width:100%;
    height:50%;

    background-color:green;
}
#pictflow{

  width:100%;
  height:1005;
}
.Contiener{
   margin:0 auto;
  background-color:black;
  color:white;
  font-size:16px;
  margin-top:40px;
  margin-bottom:40px;
  border:4px solid white;
  width:700px;
  height:700px;

}
.MyHeader{
   width:100%;
   height:20%;
   background-color:gray;

}
.MyRightDiv{
  float:left;
  background-color:brown;
  width:24%;
  height:70%;
}
.MyCenterBody{

  background-color:white;
  width:40%;
  height:70%;
   float:left;
}

.MyLeftDiv{
  float:right;
  width:24%;
  height:70%;
  background-color:brown;
}
